.video-container {
    transition: 1s all ease-out;
}

.author-logo img {
    width: 40px;
    border-radius: 100%;
    height: 40px;
    object-fit: cover;
}

.video-content {
    margin: 10px 8px;
}

.video-box iframe {
    border-radius: 15px;
}

iframe:hover {
    border-radius: 15px 15px 0 0;
}


.video-content:hover {
    transform: scale(1.2);
    /* border: 1px solid #000; */
    box-shadow: rgb(9 30 66 / 10%) 0px 0.5rem 1rem 0px;;
    background-color: #fff;
    border-radius: 15px;
    height: 300px;
}

.content-details {
    margin-left: 5px;
    line-height: 25px;
}

.content-details h3 {
    font-size: 14px;
    line-height: 20px;
}

.author-views {
    line-height: 15px;
    font-size: 12px;
}